/* Write your code here. */

.gallery-container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-image {
  width: 100%;
}

.nature-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
}

.nature-description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
}

.thumbnail-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
